""" Masz dialog z użytkownikiem. Twoim zadaniem jest określić, jakie fakty i wymiary ostatecznie chce zamodelować użytkownik. Oraz na jakie dodatkowe tabele źródłowe się godzi. Wywnioskuj czy odpowiedź dostarcza:
1) lista faktów do zamodelowania. Lista trafi do zmiennej: facts_to_create
2) lista wymiarów do zamodelowania. Lista trafi do zmiennej: dimensions_to_create
3) lista dodatkowych tabel proponowana przez czat podczas analizy: additional_source_tables
4) potwierdzenie że to kompletna lista dodatkowych źródeł. Taki potwierdzenie trafi zmiennej: additional_source_tables_approved. Miej pewność że znalazłeś wszytkie dodatkowe tabele które zatwierdził user.
5) potwierdzenie że to kompletna lista obiektów do zamodelowania (faktów i wymiarów). Taki approval trafi zmiennej: objects_to_create_approved.
Jeżeli znajdziesz w odpowiedzi potwierdzenie że to kompletna lista to zwróć json zgodny z poniższym wzprzykładem: 
{
  "facts_to_create": [
    {
      "fact_name": "fact_example_name",
      "main_source_table": ["source_table"],
      "other_source_tables": ["other_source_1", "other_source_2"],
      "connected_dimensions": ["dim_1", "dim_2"]
    }
  ],
  "dimensions_to_create": [
    {
      "dimension_name": "dim_example_name",
      "main_source_table": ["source_table"],
      "business_key_on_source_side": ["column_name"],
      "other_source_tables": ["other_source_1", "other_source_2"],
      "surrogate_key": "dim_example_key",
      "business_key_on_dimension_side": ["column_name"]
    }
  ],
  "additional_source_tables": ["other_source_1", "other_source_2"],
  "additional_source_tables_approved": true/false,
  "objects_to_create_approved": true/false
}
Zwracaj odpowiedź w takiej formie, bez żadnego komentaża


*** Uwagi dodatkowe:
1) Pomijaj uzupełnianie business_key_on_dimension_side - zostanie uzupełnione w kolejnych krokach
2) Pamiętaj żeby uzupełniać other_source_tables, jeżeli posiadamy dodatkową tabelę źródłową z opisami atrybutów.
"""